<header class="witch_tower_header-header">

  <div class="witch_tower_header-center">
    <h1 class="page-title">Witch Tower</h1>
  </div>

  <div class="witch_tower_header-right">
    {% if user.is_authenticated %}
      <span class="header-greeting">Hello, {{ user.username }}</span>

      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="header-link">Log out</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}" class="header-link">Log in</a>
      <a href="{% url 'signup' %}" class="header-link">Sign up</a>
    {% endif %}

    <a href="#" class="header-link">Cart</a>
  </div>
</header>

<nav class="site-nav">
  <a href="/">Home</a>
  <!-- adding name 'game_list' (failproof/secure)-->
  <a class="{% if request.resolver_match.url_name in 'game_list game_detail' %}is-active{% endif %}"
   href="{% url 'game_list' %}">
  Games</a>
  <!-- cannot have hardcoded link-->
  <a href="{% url 'events_page' %}">Events</a>
  <!-- need to change from hardcoded to Django tag-->
  <a href="{% url 'contact_page' %}">Contact</a>
</nav>
