<header class="witch_tower_header-header">
  <div class="witch_tower_header-left">
    <button class="menu-btn" type="button">Menu</button>
  </div>

  <div class="witch_tower_header-center">
    <h1 class="page-title">Witch Tower</h1>
  </div>

  <div class="witch_tower_header-right">
    <a href="#" class="header-link">Login</a>
    <a href="#" class="header-link">Cart</a>
  </div>

  {% if user.is_authenticated %}
  <span>Hello, {{ user.username }}</span>

  <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>
  {% else %}
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'signup' %}">Sign up</a>
  {% endif %}
</header>

<nav class="site-nav">
  <a href="/">Home</a>
  <!-- adding name 'game_list' (failproof/secure)-->
  <a class="{% if request.resolver_match.url_name in 'game_list game_detail' %}is-active{% endif %}"
   href="{% url 'game_list' %}">
  Games</a>
  <a href="/events/">Events</a>
  <a href="/contact/">Contact</a>
</nav>
