{# templates/games/game_details.html #}
{% extends "base.html" %}
{% load static %}

{% block title %}{{ game.title }}{% endblock %}

  <!-- page content goes between thes blocks -->
{% block content %}
<main class="game-page">
  <section class="game-hero">
    <!-- skeleton for hero section-->
    <div class="game-hero__grid">

      <header class="game-hero__content">
        <!-- 'title is for what the game is-->
        <h1 class="game-hero__title">{{ game.title }}</h1>
        <!--'tagline' is 'whz should I care'-->
        <!-- adding condition in case there is no tagline-->
        {% if game.tagline %}
          <p class="game-hero__tagline">{{ game.tagline }}</p>
        {% endif %}

        <!--wrapper -->
        <div class="game-hero__purchase">
          <p class="game-price">
            {{ game.price }} €
          </p>
          <!-- amount of available products-->
          <p class="game-stock-availability">
            {% if game.stock > 10 %}
              <span class="stock stock--in">In stock</span>
            {% else %}
              <span class="stock stock--out">Out of stock</span>
            {% endif %}
          </p>

          <form class="add-to-cart" method="post" action="#">
            {% csrf_token %}

            <label class="screen-reader-only" for="quantity">Quantity</label>
            <input
              id="quantity"
              name="quantity"
              type="number"
              min="1"
              value="1"
            >

            <button type="submit" class="btn-primary">
              Add to cart
            </button>
          </form>


        </div>

      </header>

      <figure class="game-hero__media">
        <img
        src="{% static 'img/placeholders/game-cover.png' %}"
        alt="Cover art for {{ game.title }}"
        >
      </figure>

    </div>

  </section>
  <section class="game-meta">
    <ul class="game-meta__list">
      <li class="game-meta__item">
        <span class="game-meta__label">Players</span>
        <span class="game-meta__value">{{ game.players }}</span>
      </li>

      <li class="game-meta__item">
        <span class="game-meta__label">Time</span>
        <span class="game-meta__value">{{ game.play_time }}</span>
      </li>

      <li class="game-meta__item">
        <span class="game-meta__label">Age</span>
        <span class="game-meta__value">{{ game.age }}</span>
      </li>

      <li class="game-meta__item">
        <span class="game-meta__label">Difficulty</span>
        <span class="game-meta__value">{{ game.difficulty }}</span>
      </li>

      <li class="game-meta__item">
        <span class="game-meta__label">Lanugage</span>
        <span class="game-meta__value">{{ game.language }}</span>
      </li>
    </ul>
  </section>

  <section class="game-gallrey">
    <h2 class="section-title">Gallery</h2>

    <div class="game-gallrey__grid">
      <figure class="game-gallrey__item">
        <img src="{% static 'img/placeholders/gallery-1.png' %}" alt="Game gallery image for {{ game.title }}">
      </figure>
    </div>

  </section>

  <section class="game-description">
    <h2 class="section-title">About this game</h2>

    <!-- adding conditions if there is no 'description'-->
     <!-- pipes (|) are linebreakers to impover alignment-->
    {% if game.short_description %}
      <p class="game-description__short">{{ game.short_description }}</p>
    {% endif %}

    {% if game.description %}
      <div class="game-description__long">
        {{ game.description|linebreaks }}
      </div>
    {% endif %}

  </section>

  <!-- Game content -->
  <section class="game-box-content">
    <h2 class="section-title">Whats in the box</h2>

    <ul class="game-box-content__list">
      {% for item in game.box_contents.splitlines %}
        {% if item %}
          <li>{{ item }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <!-- Game details sections-->
  <section class="game-details-info">
    <h2 class="section-title">Details</h2>

    <dl class="game-details-info__list">
      <div class="game-details-info__row">
        <dt>Publisher</dt>
        <dd>{{ game.publisher }}</dd>
      </div>

      <div class="game-details-info__row">
        <dt>Designer</dt>
        <dd>{{ game.designer }}</dd>
      </div>

      <div class="game-details-info__row">
        <dt>Category</dt>
        <dd>{{ game.category }}</dd>
      </div>

      <div class="game-details-info__row">
        <dt>Stock Keeping Unit</dt> <!-- maybe I change to Item ID !!-->
        <dd>{{ game.sku }}</dd>
      </div>
    </dl>
  </section>

  <section class="game-reviews">
    <h2 class="section-title">Reviews</h2>

    {% if reviews %}
      <div class="game-reviews__list">
        {% for review in reviews %}
          <article class="game-review">
            <p class="game-review__meta">
              <strong>{{ review.user.username }}</strong>
              · {{ review.rating }}/5
              · {{ review.created_at|date:"M j, Y" }}
            </p>
            <div class="game-review__comment">
              {{ review.comment|linebreaks }}
            </div>
            <!-- in case there is already review from user-->
            {% if user.is_authenticated and review.user == user %}
              <div class="game-review__actions">
                <a href="{% url 'review_edit' review.id %}">Edit</a>

                <form method="post" action="{% url 'review_delete' review.id %}" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit">Delete</button>
                </form>
              </div>
            {% endif %}
          </article>
        {% endfor %}
      </div>
    {% else %}
      <p>No reviews yet.</p>
    {% endif %}

    <div class="game-review-form">
      {% if user.is_authenticated %}
        {% if existing_review %}
          <p>You already reviewed this game.</p>
        {% else %}
          <h3>Leave a review</h3>

          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="review_submit" value="1">
            {{ review_form.as_p }}
            <button type="submit" class="btn-primary">Submit review</button>
          </form>
        {% endif %}
      {% else %}
        <p>
          <a href="{% url 'login' %}">Log in</a> to leave a review.
        </p>
      {% endif %}
    </div>
  </section>

  <section class="game-purchase-box">
    <div class="game-purchase-box__inner">

      <div class="game-purchase-box__info">
        <h2 class="game-purchase-box__title">{{ game.title }}</h2>
        <p class="game-purchase-box__price">{{ game.price }} €</p>

        <p class="game-purchase-box__stock">
          {% if game.stock > 10 %}
            <span class="stock stock--in">In stock</span>
          {% else %}
            <span class="stock stock--out">Out of stock</span>
          {% endif %}
        </p>
      </div>

      <form class="add-to-cart add-to-cart--compact" method="post" action="#">
        {% csrf_token %}

        <label class="screen-reader-only" for="quantity-bottom">Quantity</label>
        <input
          id="quantity-bottom"
          name="quantity"
          type="number"
          min="1"
          value="1"
          {% if game.stock == 0 %}disabled{% endif %}
        >

        <button type="submit" class="btn-primary" {% if game.stock == 0 %}disabled{% endif %}>
          Add to cart
        </button>
      </form>

    </div>
  </section>

  <section class="related-games-sections">
    <h2 class="section-title">related-or-similar games</h2>

    <div class="related-games-sections__grid">

      <article class="game-card">
        <a class="game-card__link" href="#">
          <img class="game-card__image" src="{% static 'img/placeholders/game-card.png' %}" alt="related-or-similar game cover">
          <h3 class="game-card__title">Related or similar Game Title</h3>
          <p class="game-card__price">29.99 €</p>
        </a>
      </article>

    </div>
  </section>

</main>


{% endblock %}
