{% extends "base.html" %}
{% block title %}Games{% endblock %}

{% block content %}
  <main class="games-list-page">
    <h1>Games</h1>

    {% if games %}
      <ul class="games-list">
        {% for game in games %}
          <li class="games-list__item">
            <a href="{% url 'game_detail' game.slug %}">
              {{ game.title }}
            </a>
            <span class="games-list__price">{{ game.price }} €</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No games added yet.</p>
    {% endif %}  <!-- don't forget to add this so I do not end up with error again-->
  </main>
{% endblock %}
