{# templates/games/game_detail.html #}
{% extends "base.html" %}
{% load static %}

{% block title %}{{ game.title }}{% endblock %}

  <!-- page content goes between thes blocks -->
{% block content %}
<main class="game-page">
  <section class="game-hero">
    <!-- skeleton for hero section-->
    <div class="game-hero__grid">

      <header class="game-hero__content">
        <!-- 'title is for what the game is-->
        <h1 class="game-hero__title">{{ game.title }}</h1>
        <!--'tagline' is 'whz should I care'-->
        <p class="game-hero__tagline">{{ game.tagline }}</p>

        <!--wrapper -->
        <div class="game-hero__purchase">
          <p class="game-price">
            {{ game.price }} €
          </p>
          <!-- amount of available products-->
          <p class="game-stock-availability">
            {% if game.stock > 10 %}
              <span class="stock stock--in">In stock</span>
            {% else %}
              <span class="stock stock--out">Out of stock</span>
          </p>

          <form class="add-to-cart" method="post" action="#">
            {% csrf_token %}

            <label class="screen-reader-only" for="quantity">Quantity</label>
            <input
              id="quantity"
              name="quantity"
              type="number"
              min="1"
              value="1"
            >

            <button type="submit" class="btn-primary">
              Add to cart
            </button>
          </form>


        </div>

      </header>

      <figure class="game-hero__media">
        <img
        src="{% static 'img/placeholders/game-cover.png' %}"
        alt="Cover art for {{ game.title }}"
        >
      </figure>

    </div>

  </section>
  <section class="game-meta">
    <ul class="game-meta__list">
      <li class="game-meta__item">
        <span class="game-meta__label">Players</span>
        <span class="game-meta__value">{{ game.players }}</span>
      </li>

      <li class="game-meta__item">
        <span class="game-meta__label">Time</span>
        <span class="game-meta__value">{{ game.play_time }}</span>
      </li>

      <li class="game-meta__item">
        <span class="game-meta__label">Age</span>
        <span class="game-meta__value">{{ game.age }}</span>
      </li>

      <li class="game-meta__item">
        <span class="game-meta__label">Difficulty</span>
        <span class="game-meta__value">{{ game.difficulty }}</span>
      </li>

      <li class="game-meta__item">
        <span class="game-meta__label">Lanugage</span>
        <span class="game-meta__value">{{ game.language }}</span>
      </li>
    </ul>
  </section>

  <section class="game-gallrey">
    <h2 class="section-title">Gallery</h2>

    <div class="game-gallrey__grid">
      <figure class="game-gallrey__item">
        <img src="{% static 'img/placeholders/gallery-1.png' %}" alt="Game gallery image for {{ game.title }}">
      </figure>
    </div>

  </section>

  <section class="game-description">
    <h2 class="section-title">About this game</h2>

    <p class="game-description__short">
      {{ game.short_description }}
    </p>

    <div class="game-description__long">
      {{ game.description }}
    </div>
  </section>

  <section class="game-box-content">
    <h2 class="section-title">Whats in the box</h2>

    <ul class="game-box-content__list">
      {% for item in game.box_contents.splitlines %}
        {% if item %}
          <li>{{ item }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>




</main>


{% endblock %}
