<!doctype html>  
<!-- root element of the page  -->
<html lang="en">
  <head>
    <!-- ensures characters (supported symbols, accents, emojis) display correctly -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 'block' defines replacable section (slot that other pages can override) -->
    <title>{% block title %}Witch Tower Boardgame Library{% endblock %}</title>

    {% load static %}
    <!-- linking CSS Django way -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <!-- Everything on the page 'lives' in body -->
  <body>
    <!-- Take the contents of header.html and paste it here. -->
    {% include "partials/header.html" %}
    <!-- this is for 'child' template to inject their own specific content-->
    <div class="container">
      <!-- if there is a message show following -->
      {% if messages %}
        <div class="site-messages">
          <!--- loop over each message -->
          {% for message in messages %}
          <!-- message box -->
            <div class="site-message {{ message.tags }}">
              <!-- print message -->
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    <!-- replaceble section ends here (stop here)-->
      {% block content %}{% endblock %}
    </div>
    <div id="cart-toast" class="cart-toast" role="status" aria-live="polite">
      Cart system will be available in v1.2.
    </div>
    <!-- Shared and reusable footer-->
    {% include "partials/footer.html" %}
    <!-- script tag - loading script-->
    <script src="{% static 'js/games_filters.js' %}" defer></script>
    <script src="{% static 'js/cart_notice.js' %}" defer></script>
  </body>
</html>
